@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap");

:root
{
  --random-initial-color: gray;
  --random-final-color: green;
}

body
{
  font-family: 'Grandstander', cursive;
  color: #10866d;
}

#random-quote
{
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color:  var(--random-initial-color);
}

.test-anim
{
  animation-name: test;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.test-anim2
{
  animation-name: test2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes test {
  0% {
    background-color: var(--random-initial-color);
    opacity: 1;
  }
  50%
  {
    opacity: 0.75;
  }
  100% {
    background-color:var(--random-final-color);
    opacity:1
  }
}

@keyframes test2 {
  0% {
    background-color: var(--random-initial-color);
    opacity: 1;
  }
  50%
  {
    opacity: 0.75;
  }
  100% {
    background-color:var(--random-final-color);
    opacity:1
  }
}

#quote-box
{
  background-color: white;
  width: 50%;
  padding: 50px;
}

#text
{
  color: var(--random-initial-color);
  font-size: 1.5rem;
}

#author
{
  color: var(--random-initial-color);
  text-align: right;
}

#tweet-quote
{
  text-align: left;
  width: 64px;
  height: auto;
}



.text-anim
{
  animation-name: quote-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.text-anim2
{
  animation-name: quote-anim2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes quote-anim{
  0%{
    color: var(--random-initial-color);
    opacity: 1;
  }
  50%
  {
    opacity:0;
  }
  100%
  {
    color: var(--random-final-color);
    opacity: 1;
  }
}

@keyframes quote-anim2{
  0%{
    color: var(--random-initial-color);
    opacity: 1;
  }
  50%
  {
    opacity:0;
  }
  100%
  {
    color: var(--random-final-color);
    opacity: 1;
  }
}

#new-quote
{
  color: white;
  background-color: var(--random-initial-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


